<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
 $Id: web.xml,v 1.2 2007/08/14 16:47:36 mem61 Exp $
-->

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>i2b2 project</display-name>

    <description>
        Provides i2b2 project
    </description>
    
    <servlet>
        <servlet-name>GroupRole</servlet-name>
        <servlet-class>edu.harvard.i2b2.pm.portlets.ProjectRolePortlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GroupInfo</servlet-name>
        <servlet-class>edu.harvard.i2b2.pm.portlets.ProjectInfoPortlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GroupVariable</servlet-name>
        <servlet-class>edu.harvard.i2b2.pm.portlets.ProjectVariablePortlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>demo.portlets.HelloWorld</servlet-class>
    </servlet>

    <servlet-mapping>
       <servlet-name>GroupVariable</servlet-name>
       <url-pattern>/groupvariable</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>GroupInfo</servlet-name>
       <url-pattern>/groupinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    
       <servlet-name>GroupRole</servlet-name>
       <url-pattern>/grouprole</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>HelloWorld</servlet-name>
       <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <mime-mapping>
      <extension>wbmp</extension>
      <mime-type>image/vnd.wap.wbmp</mime-type>
    </mime-mapping>

    <mime-mapping>
      <extension>wml</extension>
      <mime-type>text/vnd.wap.wml</mime-type>
    </mime-mapping>

    <mime-mapping>
      <extension>wmls</extension>
      <mime-type>text/vnd.wap.wmlscript</mime-type>
    </mime-mapping>

</web-app>
