<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="File Repository Category"
            id="edu.harvard.i2b2.eclipse.plugins.srb">
      </category>
            <view
                  category="edu.harvard.i2b2.eclipse.plugins.srb"
                  class="net.nbirn.srbclient.plugin.views.ClientFolderView"
                  icon="icons/core-cell.gif"
                  id="net.nbirn.srbclient.plugin.views.ClientFolderView"
                  name="Import Data"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.nbirn.srbclient.plugin.PerspectiveFactory"
            id="net.nbirn.srbclient.plugin.PerspectiveFactory"
            name="Srb Client Perspective"/>
   </extension>
      <extension
            point="org.eclipse.ui.viewActions">
        <viewContribution
            id="edu.harvard.i2b2.eclipse.plugins.srb.viewActions"
            targetID="net.nbirn.srbclient.plugin.views.ClientFolderView">
            
		<action 
               class="net.nbirn.srbclient.plugin.views.ViewStackToolbarActionDelegate" 
               icon="icons/xmlstack.gif" 
               id="net.nbirn.srbclient.plugin.srb.viewResponseMessageStack" 
               label="XMLMessageStack" 
               style="push" 
               toolbarPath="additions" 
               tooltip="Display the XML message stack"/>            
      </viewContribution>
	</extension>
		<extension point="org.eclipse.ui.contexts">
		<context
			id="importdata_view_help_context"
      		name="Import Data View"
      		parentId="edu.harvard.i2b2.eclipse.plugins.srb.views.ImportDataView">
		</context>
	</extension>
	<extension point="org.eclipse.help.contexts">
       <contexts
            file="help_contexts.xml"
			plugin="edu.harvard.i2b2.eclipse.plugins.srb">
		</contexts>
	</extension>
	<extension point="org.eclipse.help.toc">
		<toc
      		file="toc.xml"
			primary="true"/>
		<toc file="tocconcepts.xml"/>
	</extension>
</plugin>
